name: Fedora Latest CI
on:
  push:
  pull_request:

concurrency:
  group: ${{ github.ref }}-fedora-latest
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    name: "Fedora Latest Build and Test"
    steps:
      - name: Install packages
        run: |
          dnf update -y
          dnf install -y \
            gcc gcc-c++ make autoconf automake libtool cmake git \
            ninja-build gdb pkgconf meson python3-pip \
            openssl-devel c-ares-devel libev-devel zlib-devel \
            libpsl-devel libidn2-devel ca-certificates \
            libproxy-devel pcre2-devel \
            flex \
            clang llvm llvm-devel libasan \
            valgrind procps curl wget diffutils busybox

      - name: Checkout wget
        uses: actions/checkout@v4

      - name: "Meson: Configure, build and test wget (default)"
        run: |
          meson setup build
          meson compile -C build
          meson test -C build

      - name: "Meson: Configure, build and test wget with ASan (clang)"
        env:
          CC: clang
          CXX: clang++
          CFLAGS: "-fno-omit-frame-pointer"
          CXXFLAGS: "-fno-omit-frame-pointer"
        run: |
          meson setup build-asan -Db_sanitize=address
          meson compile -C build-asan
          meson test -C build-asan

      - name: "Meson: Run tests under Valgrind"
        run: |
          meson test -C build --wrap='valgrind --leak-check=full --error-exitcode=1'
